@import "src/styles/mixins.scss";
@import "src/styles/variables.scss";

.catalog {
  @include spaceBetween;

  display: grid;
  gap: $rowGap $columnGap;
  grid-template-columns: repeat($cardsCount, $cardWidth);
  justify-content: center;
  padding: 0 20px;

  @media (max-width: $cardsCount * ($cardWidth + $columnGap)) {
    grid-template-columns: repeat(auto-fill, $cardWidth);
  }
}
